{
  "plugins": [
    "@babel/plugin-proposal-class-properties"
  ],
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "8.11"
        }
      }
    ]
  ],
  "ignore": [
    "scripts/**",
    "src/knex/migrations",
    "src/knex/data"
  ]
}
